{% extends "layout.html" %}

{% block title %}
    {{post.title}} | Askify
{% endblock %}

{% block content %}
    <div class="main-content col-12 pb-4">
        <h2 class="display-5">Posts</h2>
        <a class="btn btn-outline-primary" href="{{ url_for('posts.create_post') }}">Create Post</a>
        <hr />
        <div class="card rounded">
            <div class="card-body">
                <div class="card-title pb-3 border-bottom">
                    <img style="width: 4rem;" src="{{url_for('static', filename='avatars/' + post.author.avatar)}}" class="img-fluid card-img-top rounded-circle border" alt="{{post.author.name}}">
                    <span class="mx-2 fs-5 text-capitalize">{{post.author.name}}</span>
                </div>
                <h5 class="card-title text-capitalize">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Published on 
                    <span>{{ post.date_posted.strftime('%Y-%m-%d') }}</span>
                </h6>
                <p class="card-text pt-2">{{post.content}}</p>
                {% if post.author == current_user %}
                    <div class="btn-group">
                        <a href="{{ url_for('posts.edit_post', post_id=post.id) }}" class="btn btn-success">Edit</a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            Delete
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModallLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">
                                    Delete <!--<strong>"{{ post.title }}"?</strong>--> post?
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="{{ url_for('posts.delete_post', post_id=post.id) }}">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <form class="border-top pt-4" method="post" action="" novalidate>
                    {{ form.csrf_token }}
                    <fieldset class="form-group">
                        <legend class="fs-3 border-bottom mb-3 pb-3">Comments</legend>
                        <div class="mb-3 fs-5">
                            {{ form.content.label(class="form-label") }}
                            {% if form.content.errors %}
                                {{ form.content(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.content.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.content(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="mb-3 fs-5">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </fieldset>
                </form>
                {% for comment in comments %}
                      <div class="card rounded mt-3">
                        <div class="card-body">
                        <div class="card-title pb-3 border-bottom">
                            <img style="width: 4rem;" src="{{url_for('static', filename='avatars/' + comment.author.avatar)}}" class="img-fluid card-img-top rounded-circle border" alt="{{comment.author.name}}">
                            <span class="mx-2 fs-5 text-capitalize">
                                <a href="{{ url_for('users.user', name=comment.author.name) }}">{{comment.author.name}}</a>
                            </span>
                        </div>
                        <h5 class="card-title">
                            Published on 
                            <span>{{ comment.date_posted.strftime('%Y-%m-%d') }}</span>
                        </h5>
                        <p class="card-text pt-2">{{comment.content}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}