{% extends "layout.html" %}

{% block title %}
    Askify
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-3 fw-bold lh-1 pb-3">Welcome to Askify</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum sapiente accusamus recusandae molestiae esse totam eius eaque quisquam, in, rem reprehenderit voluptatibus similique eum porro doloremque. Accusantium quam harum nulla?
                </p>
            </div>
            <div class="col-lg-4 p-0 overflow-hidden">
                <img class="rounded-lg-3 img-fluid" src="{{ url_for('static', filename='images/ask.svg') }}" alt="ask">
            </div>
        </div>
    </div>
{% endblock %}