<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="container border-bottom">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('main.home_page') }}">
                <span class="bg-primary text-light rounded px-2">A</span>
                Askify
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.home_page') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('posts.posts_page') }}">Posts</a>
                  </li>
                </ul>
                <ul class="d-flex list-unstyled mb-0">
                  {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link text-primary" href="{{ url_for('users.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link bg-primary text-light rounded" href="{{ url_for('users.register') }}">Register</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link bg-primary text-light rounded text-capitalize" href="{{ url_for('users.account') }}">{{current_user.name}}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-primary" href="{{ url_for('users.logout') }}">Logout</a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
        </nav>
    </header>

    <main class="container py-2">
        <div class="container-fluid">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3">
        © 2022 Copyright: Built by
        <a class="text-dark" target="_blank" href="https://github.com/Remania">Remania</a>
      </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>